<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
    <h1>Diagnosis list</h1>

		<table class="table table-striped myTableSortable tablesorter">
			<thead>
				<tr>
					<th>Id</th>
					<th>Date</th>
					<th>Patient</th>
					<th>Patient diseases</th>
					<th>Patient symptoms</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.id }}</td>
					<td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
					<td>{{ entity.patient }}</td>
					<td>
						{% if entity.disease is not null %}
							<ul>
							{% for disease in entity.disease %}
								<li>
									{{disease.name}}
								</li>
							{% endfor %}
							</ul>
						{% endif %}
					</td>
					<td>
						{% if entity.disease is not null %}
							<ul>
							{% for disease in entity.disease %}
								<li>
									{{disease.tags}}
								</li>
							{% endfor %}
							</ul>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>