<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link href="{{ asset('favicon.ico') }}" rel="icon" type="image/x-icon"/>
<!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('css/bootstrap-combobox.css') }}">

<!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>

    <body>

        {% include 'MedhelpMedhelpBundle:Layout:navigation.html.twig' %}

        <div class="container">
            {% block header %}
            {% endblock %}

            {% block body %}
            {% include 'MedhelpMedhelpBundle:Default:home.html.twig' %}
            {% endblock %}
        </div>

        {% include 'MedhelpMedhelpBundle:Layout:footer.html.twig' %}

        {% block javascripts %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
		<script src="{{ asset('js/bootstrap.js') }}"></script>
		<script src="{{ asset('js/bootstrap-combobox.js') }}"></script>
		<!--bower dependacies-->
		<script src="{{ asset('bower_components/tablesorter/jquery.tablesorter.min.js') }}"></script>
		<!--custom js-->
		<script src="{{ asset('js/main.js') }}"></script>
		<script type="text/javascript">
		  $(document).ready(function(){
			$('.combobox').combobox();
			$(".myTableSortable").tablesorter();
		  });
		</script>
		{% endblock %}
    </body>

</html>
