{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Diagnosis list</h1>

    <div class="table-responsive">
		<div class="count">
			{{ pagination.getTotalItemCount }}
		</div>
		<table class="table table-striped myTableSortable tablesorter">
			<thead>
				<tr>
					<th>Id</th>
					<th>Date</th>
					<th>Patient</th>
					<th>Patient diseases</th>
					<th>Patient symptoms</th>
					<th><span class="pull-left">Actions</span></th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td><a href="{{ path('diagnosis_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
					<td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
					<td>{{ entity.patient }}</td>
					<td>
						{% if entity.disease is not null %}
							<ul>
							{% for disease in entity.disease %}
								<li>
									{{disease.name}}
								</li>
							{% endfor %}
							</ul>
						{% endif %}
					</td>
					<td>
						{% if entity.symptom is not null %}
							<ul>
							{% for symptom in entity.symptom %}
								<li>
									{{symptom.name}}
								</li>
							{% endfor %}
							</ul>
						{% endif %}
					</td>
					<td>
					<div class="btn-group pull-right">
						  <a class="btn btn-default" href="{{ path('diagnosis_show', { 'id': entity.id }) }}">show</a>
						  <a class="btn btn-default" href="{{ path('diagnosis_edit', { 'id': entity.id }) }}">edit</a>
					</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
  <a class="btn btn-primary" href="{{ path('medhelp_medhelp_diagnosis_search') }}">Create a new entry</a>
  <a class="btn btn-primary" href="{{ path('medhelp_medhelp_pdf_diagnosis') }}">Export diagnosis to PDF</a>
    {% endblock %}
