{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Diagnosis</h1>

    <div class="table-responsive">
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ entity.id }}</td>
				</tr>
				<tr>
					<th>Date</th>
					<td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
				</tr>
				<tr>
					<th>Prescription</th>
					<td>{{ entity.prescription }}</td>
				</tr>
				<tr>
					<th>Patient</th>
					<td>{{ entity.patient }}</td>
				</tr>
			</tbody>
		</table>
	</div>
  {{ form(delete_form) }}

  <div class="btn-group">
    <a class="btn btn-default" href="{{ path('diagnosis_edit', { 'id': entity.id }) }}">Edit</a>
    <a class="btn btn-default"href="{{ path('diagnosis') }}">Back to the list</a>
  </div>
</ul>
{% endblock %}
